<button mat-button>Hello world</button>
<button mat-raised-button>Hello World</button>


<div class="mat-display-4">This is a header</div>
<div class="mat-display-3">This is a header</div>
<div class="mat-display-2">This is a header</div>
<div class="mat-display-1">This is a header</div>


<div class="mat-headline">This is a h1</div>
<div class="mat-title">This is a h2</div>
<div class="mat-subheading-1">This is a h3</div>
<div class="mat-subheading-2">This is a h4</div>


<div class="mat-body-1">this is a body text</div>
<div class="mat-body-2">this is a bold text</div>
<div class="mat-caption">this is for caption</div>

<div class="mat-typography">
    <div class="mat-display-1">This is a header</div>
    <div class="mat-display-1">This is a header</div>
    <div class="mat-display-1">This is a header</div>
    <div class="mat-display-1">This is a header</div>
</div>

<button mat-button>Click me</button>
<button mat-raised-button>Click me</button>
<button mat-stroked-button>Click me</button>
<button mat-flat-button>Click me</button>


<div>
    <button mat-icon-button>icon</button>
    <button mat-fab>icon</button>
    <button mat-mini-fab>icon</button>
</div>

<div>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button disableRipple>Accent</button>
    <button color="warn" mat-button>warn</button>
</div>


<!--button toggle-->
<div>
    <!-- <mat-button-toggle #togglebtn checked disableRipple>Toggle</mat-button-toggle>
    {{togglebtn.checked}} -->
</div>

<!-- <div>
    <mat-button-toggle-group multiple #toggleGroup="matButtonToggleGroup">
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
      </mat-button-toggle-group>
      {{toggleGroup.value}}
</div> -->

<mat-icon color="primary">account_box</mat-icon>

<div>
    <span matBadge='4' matBadgePosition='below before'>Name</span>
</div>
<div>
    <span matBadge='4' matBadgePosition='below after'>Name</span>
</div>
<div>
    <span matBadge='4' matBadgePosition='after below'>Name</span>
</div>
<div>
    <span matBadge='4' matBadgeSize='small'>Name</span>
</div>
<div>
    <span matBadge='4' matBadgeSize='medium'>Name</span>
</div>
<div>
    <span matBadge='4' matBadgeSize='large'>Name</span>
</div>
<div>
    <span matBadge='4' matBadgeColor='primary'>Name</span>
</div>
<div>
    <span matBadge='4' matBadgeColor='accent'>Name</span>
</div>
<div>
    <span matBadge='4' matBadgeOverlap='false' matBadgeColor='warn'>Name</span>
</div>
<!-- <div>
    <span [matBadge]='notifications' [matBadgeHidden]='notifications === 0' matBadgeOverlap='false'
        matBadgeColor='warn'>Notifications</span>
</div> -->


<mat-progress-spinner color='accent' value='100'></mat-progress-spinner>
<mat-spinner *ngIf='showSpinner'> </mat-spinner>
<button (click)='loadData()'>Load Data</button>


<mat-sidenav-container>
    <mat-sidenav #sidenav [(opened)]="opened" mode="side" (opened)="log('Opened')" (closed)="log('Closed')">Sidenav
    </mat-sidenav>
    <mat-sidenav-content>
        Main -
        <button (click)="opened=!opened">ToggleOpened</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">Close</button>
        <button (click)="sidenav.toggle()">Toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container>


<mat-menu #appMenu='matMenu' [overlapTrigger]="false" xPosition='after' yPosition='above'>
    <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
</mat-menu>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
</mat-menu>

<button class='center' mat-flat-button [matMenuTriggerFor]='appMenu'>
    Menu
</button>

<!-- Lazy Rendering -->

<mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>{{hobby}}</button>
        <button mat-menu-item>Log off {{name}}</button>
    </ng-template>
</mat-menu>
<br />
<button mat-icon-button [matMenuTriggerFor]="lazyMenu" [matMenuTriggerData]="{name: 'Vishwas', hobby: 'Football'}">
    Vishwas
</button>
<br />
<button mat-icon-button [matMenuTriggerFor]="lazyMenu" [matMenuTriggerData]="{name: 'Codevolution', hobby: 'Youtube'}">
    Codevolution
</button>


<mat-list>
    <mat-list-item>Item</mat-list-item>
    <mat-list-item>Item</mat-list-item>
    <mat-list-item>Item</mat-list-item>
</mat-list>

<mat-list dense>
    <mat-list-item>Item</mat-list-item>
    <mat-list-item>Item</mat-list-item>
    <mat-list-item>Item</mat-list-item>
</mat-list>

<mat-nav-list>
    <a mat-list-item href="#"> Home </a>
    <a mat-list-item href="#"> About </a>
    <a mat-list-item href="#"> Services </a>
</mat-nav-list>

<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine> Heading 1 </h3>
        <p matLine>
            Line 1
        </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine> Heading 2 </h3>
        <p matLine>
            <span> Line 1 </span>
            <span> Line 2 </span>
        </p>
    </mat-list-item>
</mat-list>


<mat-grid-list cols="2" rowHeight='fit' style='height:200px' gutterSize='10px'>
    <mat-grid-tile>one</mat-grid-tile>
    <mat-grid-tile>Two</mat-grid-tile>
    <mat-grid-tile>Three</mat-grid-tile>
    <mat-grid-tile>Four</mat-grid-tile>
</mat-grid-list>


<mat-accordion multi="true" hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> B LAKSHMI LASYA </mat-panel-title>
            <mat-panel-description> MADNAPALLE ANDHRA PRADESH</mat-panel-description>
        </mat-expansion-panel-header>
        <p> EDUCATION</p>
        <mat-action-row> <button mat-button>Enroll</button> </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> B LAKSHMI LASYA </mat-panel-title>
            <mat-panel-description> MADNAPALLE ANDHRA PRADESH</mat-panel-description>
        </mat-expansion-panel-header>
        <p> EDUCATION</p>
        <mat-action-row> <button mat-button>Enroll</button> </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>


<mat-card>Basic card</mat-card>
<br />
<mat-card>
    <mat-card-title>
        Card Title
    </mat-card-title>
    <mat-card-content>
     card content
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button>Login</button>
    </mat-card-actions>
</mat-card>

<mat-accordion multi="true" hideToggle>
 
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> B LAKSHMI LASYA </mat-panel-title>
            <mat-panel-description> MADNAPALLE ANDHRA PRADESH</mat-panel-description>
        </mat-expansion-panel-header>
        <p> EDUCATION</p>
        <mat-action-row> <button mat-button>Enroll</button> </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> B LAKSHMI LASYA </mat-panel-title>
            <mat-panel-description> MADNAPALLE ANDHRA PRADESH</mat-panel-description>
        </mat-expansion-panel-header>
        <p> EDUCATION</p>
        <mat-action-row> <button mat-button>Enroll</button> </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<mat-tab-group #tabularRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
    <mat-tab label="Angular"> AngulaR COURSE</mat-tab>
    <mat-tab label="React"> React COURSE</mat-tab>
    <mat-tab label="Vue"> Vue COURSE</mat-tab>
</mat-tab-group>
{{tabulaeRef.selectedIndex}}


<mat-vertical-stepper labelPosition="bottom" linear>
    <mat-step label="Shipping Address" completed="true">
        <p>Shipping Address Details</p>
    </mat-step>
    <mat-step label="Billing Address" completed="false" optional>
        <p>Billing Address Details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Place Order" completed="false">
        <p>Order Details</p>
    </mat-step>
</mat-vertical-stepper>


<mat-form-field hideRequiredMarker floatLabel='auto' appearance='legacy' color='accent'>
    <mat-label>Name</mat-label>
    <input required matInput>
    <mat-hint align='end'>Min 5 characters</mat-hint>
</mat-form-field>
<br>
<mat-form-field hideRequiredMarker floatLabel='auto' appearance='standard' color='warn'>
    <mat-label>Name</mat-label>
    <input required matInput>
    <mat-hint align='end'>Min 5 characters</mat-hint>
</mat-form-field>
<br>
<mat-form-field hideRequiredMarker floatLabel='auto' appearance='fill'>
    <mat-label>Name</mat-label>
    <input required matInput>
    <mat-hint align='end'>Min 5 characters</mat-hint>
</mat-form-field>
<br>
<mat-form-field hideRequiredMarker floatLabel='auto' appearance='outline'>
    <mat-label>Name</mat-label>
    <input required matInput>
    <mat-hint align='end'>Min 5 characters</mat-hint>
</mat-form-field>


<mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select placeholder="Topic" [(value)]="selectedValue" multiple>
        <mat-option>None</mat-option>
        <mat-optgroup label='Web'>
            <mat-option value='angular'>Angular</mat-option>
            <mat-option value='react'>React</mat-option>
            <mat-option value='vue'>Vue</mat-option>
        </mat-optgroup>
        <mat-optgroup label='Mobile'>
            <mat-option value='ionic'>Ionic</mat-option>
            <mat-option value='reactnative'>React Native</mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field>
{{selectedValue}}


<form>
    <mat-form-field>
        <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>


<mat-checkbox>Subscribe</mat-checkbox>
<br>
<mat-checkbox labelPosition="before">Subscribe</mat-checkbox>
<br>
<mat-checkbox color="primary">Subscribe</mat-checkbox>
<br>
<mat-checkbox color="warn">Subscribe</mat-checkbox>


<mat-radio-group>
    <mat-radio-button color="primary" value="angular">Angular</mat-radio-button>
    <mat-radio-button value="react">React</mat-radio-button>
    <mat-radio-button color="warn" value="vue">Vue</mat-radio-button>
</mat-radio-group>


<mat-form-field>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepickerFilter]="dateFilter" [matDatepicker]="myDatepicker">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
</mat-form-field>



<button mat-button (click)="openSnackBar('Item deleted', 'Dismiss')">Delete</button>
<button mat-button (click)="openCustomSnackBar()">Show custom snackbar</button>


<button mat-raised-button (click)="openDialog()">Open dialog</button>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<!-- <div  *ngFor="let number of numbers" class="number">
  {{number}}
</div> -->
<cdk-virtual-scroll-viewport itemSize="100" class="container">
    <div *cdkVirtualFor="let number of numbers" class="number">
        {{number}}
    </div>
</cdk-virtual-scroll-viewport>